# dependencies of hardhat-tutorial project
/hardhat-tutorial/node_modules


# .env file that involeved the keys
/hardhat-tutorial/.env

/hardhat-tutorial/coverage
/hardhat-tutorial/coverage.json
/hardhat-tutorial/typechain
/hardhat-tutorial/typechain-types

#Hardhat files
/hardhat-tutorial/cache
/hardhat-tutorial/artifacts
